@import "../../../../../styles/globals.scss";

.EditModeConfirmationComponent {
    &__content {
        @extend .border, .border-secondary, .shadow;
    }

    &__header {
        @extend .modal-header, .group-header, .align-items-center, .p-3, .border-bottom, .border-secondary;

        background-color: map-get($grays, "200");
        color: map-get($theme-colors, "secondary-accent");
    }

    &__body {
        @extend .modal-body, .align-items-center;

        font-size: $font-size-base;
        color: map-get($theme-colors, "secondary-accent");

        & > p {
            @extend .px-0, .py-1, .m-0;
        }
    }

    &__footer {
        @extend .border-top, .border-secondary;
    }

    &__cancel {
        @extend .accent-button;

        width: 94px;
    }

    &__confirm {
        @extend .primary-button;

        width: 94px;
    }
}
