@import "../../../styles/globals.scss";

.InvoiceFieldsComponent {
    @extend .d-flex, .flex-column, .flex-fill, .h-100;
    color: map-get($theme-colors, "secondary-accent");

    &__invoice-fields-container {
        @extend .d-flex, .flex-column;
        background-color: map-get($theme-colors, "light");
    }

    &__invoice-fields-group {
        @extend .d-flex, .flex-column, .p-0, .m-0;
        flex-shrink: 0;
    }

    &__invoice-fields-group-header {
        @extend .group-header, .flex-row;
        margin-bottom: 12px;
        flex-shrink: 0;
    }
}
