<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="./packages" /> 
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="CompanyNameWorkplace" value="https://pkgs.dev.azure.com/companynameworkplace/_packaging/CompanyNameWorkplace%40Local/nuget/v3/index.json" />
    <add key="PWP.InvoiceCapture" value="https://pkgs.dev.azure.com/companynameworkplace/InvoiceCapture/_packaging/PWP.InvoiceCapture/nuget/v3/index.json" />
  </packageSources>
</configuration>